<div class="success_popup d-flex flex-column align-items-center justify-content-center">
  <h3 class="font_20 text_pri text-center mb_11">Let’s get you started</h3>
    <div class="container">
      <input type="number" value="91 " placeholder="Your Phone No">
  </div>
  <span class="mar_20">We will send you an OTP on this number</span>
  <ion-button class="mar_20" color="tertiary" shape="round" (click)="dismissModal()">Get OTP</ion-button>
  <span class="mar_10 align-items-center">By proceeding, I accept the Terms & Conditions and Privacy Policy</span>
</div>
